/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media(max-width: 767px){

    /**Application de la police de caractères***/
        * {
            font-family: 'Roboto';
        }
        /**Définition des couleurs de base***/
            :root {
                --main-police-color:#353535;
                --main-bg-color: #FFFFFF;
                --second-bg-color:#EAEAEA;
                --miscellanius-bg-color:#99E2D0;
                --miscellanius-police-color:#008766;
                --gradient-main-color:#9356DC;
                --gradient-second-color:#FF79DA;
                --gradient:linear-gradient(0deg, #9356DC -25%, #FF79DA 125%);
            }
    
                *{
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-right: 0px;
                    padding-left: 0px;
                }
                    body{ 
                        margin: 0px;  
                    }
    
                    /**Taille du conteneur principal + bordures**/
                        .main-container {
                            width: 100%;
                            max-width: 767px;
                            box-sizing: border-box;
                        }
    /**HEADER : logo + ajout input localisation + **/
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--main-bg-color);
        }
            .logo{
                padding-top: 15px;
                padding-bottom: 15px;
            }
                input{
                    border: none;
                    background-color: transparent;
                    font-family: 'Roboto';
                    font-style: normal;
                    color: var(--main-police-color);
                    font-weight: 500;
                    font-size: 16px;
                    text-align: center;
                }
    
                    .localisation{
                        background-color: var(--second-bg-color);
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
    
                    /**Remplacer ligne verte par shadow var2**/
                        div.localisation{
                            border-top: solid var(--miscellanius-police-color);
                        }
    /**Bordure personnalisée**/
        main{
            padding: 15px;
        }
    
    /**Présentation du concept + bouton**/
        .presentation{
            text-align: center;
            align-items: center;
            justify-content: center;
        }
            .presentation h1{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                margin: 20px;
            }
                .presentation p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                }
    
    /**Configuration boutons**/
        .presentation .btn{ 
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
        }
            .btn{
                padding: 13px 18px;
                /**border : 2px solid #353535;**/
                width: fit-content;
                display: inline-block;
            }
                .btn_color{
                    background: var(--gradient);
                    color: var(--main-bg-color);
                }
                    .btn_rounded{
                        border-radius: 40px; 
                    }
                        .btn_square{
                            border-radius:25px;
                        }
                            .btn_shadow{
                                border-color: var(--gradient);
                                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);   
                            }
    
    /**Fonctionnement du concept**/
        .sorting .sorting_title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
        }
            ol{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                /**Voir pourquoi je n'arrive pas à afficher 
                les numéros de la liste à puces**/
            }
                .sorting li{
                    background-color: var(--main-bg-color);
                    border-color: var(--second-bg-color);
                    color: var(--main-police-color);
                }
                    .btn_modif{
                        width: 80%;
                        margin: 15px 0px;
                        border: none;
                    }
                        .sorting_box i{
                            color: var(--main-police-color);
                            margin-right: 25px;
                            padding: 10px;
                            /**Trouver comment cibler la 3ème occurence de la liste 
                            pour changer la couleur de l'icone**/
                        }
    
    /**Restaurant**/
    /**Aligner la liste de restaurants au centre**/
    .restaurants_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        /**Remettre "Fonctionnement" à gauche**/
        .restaurants_list h2{
            width: 100%;
        }
            .restaurants_list_title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
            }
                .restaurants_cards{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                }
                    .restaurants_cards_mini img{
                    display: flex;
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 20px 20px 0px 0px;
                    /**Ajouter étiquette "nouveau" en span**/
                    }
    .restaurants_cards_content{
        display: block;
        width: 80%;
    }
        .restaurants_cards_title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 4px;
            }
            .restaurants_cards_subtitle{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                margin-top: 4px;
            }
                .like{
                    display: flex;
                    justify-content: end;
                    align-self: center;
                    color: var(--main-police-color);
                    font-size: 22px;
                }
                    .restaurants_cards_mini{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
    /**Mise en place du footer**/
    footer {
        width: 100%;
        height: auto;
        color: var(--main-bg-color);
        background-color: var(--main-police-color);
        padding: 14px;  
    }
        footer img{
            width: 35%;
            /**Comment on change la couleur du logo SVG ?
            Via une variable ? **/
        }
            .nav_footer .partner{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
                .contact{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                }
                    .nav_footer i{
                        margin: 6px 10px 6px 6px;
                    }
                        .ul_footer{
                            list-style-type: none;
                        }
                            .ul_footer a{
                                text-decoration: none;
                            }
                                .ul_footer a:visited{
                                    color: var(--main-bg-color);
                                }
    
    }
    
    
    
    
    