footer {
    height: auto;
    color: $main-bg-color;
    background-color: $main-police-color;
    padding: 22px 25px; 
    @include tablet-only{
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        gap: 16px;
        padding: 30px 0;
    }
    @include desktop-only{
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        gap: 16px;
        padding: 30px 0;
    }
}
.logo-footer{
    @include logo-footer;
    @include tablet-only{
        padding: 25px 15px;
    }
    @include desktop-only{
        padding: 30px 25px;
    }
}
.nav_footer{
    margin-top: 16px;
    @include tablet-only{
        padding: 30px 0px;
    }
    @include desktop-only{
        padding: 30px 25px;
    }
}
.nav_footer .partner{
    @include nav-footer;
    }
.contact{
    @include contact;
    color: $main-bg-color;
    }
.nav_footer i{
    margin: 6px 10px 6px 6px;
    }
.ul_footer{
    list-style-type: none;
    align-items:flex-start;
    @include tablet-only{
        align-items: end;
        display: flex;
        flex-direction: row;
        }
    @include desktop-only{
        align-items: end;
        }
    }
.ul_footer .partner{
    width: auto;
    padding: 0 5px;
}
.ul_footer .contact{
    width: auto;
    height: 20px;
    padding: 2px 10px;
}
.ul_footer a{
    text-decoration: none;
    color: $main-bg-color;
    }
.ul_footer a:visited{
    color: $main-bg-color;
    }
