header{
    display: flex;
    align-items:center;
    background-color: $main-bg-color;
    justify-content:space-around;
}
/* Logo de la société */
.logo{
    padding-top: 15px;
    padding-bottom: 15px;
    @include logo-header;
    width: 95%;
    display: flex;
    justify-content: center;
    @include tablet-only{
        @include logo-desktop;
        width: 100%;
    }
    @include desktop-only{
        @include logo-desktop;
        width: 100%;
    }

    }

.return{
    width: 8%;
}

