header{
    display: flex;
    align-items:center;
    background-color: $main-bg-color;
    justify-content:space-around;
}
/* Logo de la société */
.logo{
    padding-top: 15px;
    padding-bottom: 15px;
    @include logo-header;
    width: 95%;
    justify-content: center;
    display: flex;
    }

.return{
    width: 8%;
}

