ul{
    @include nav-footer;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-only{
        justify-content: space-between;
        flex-direction: row;
    }
}
/**Test de puce sur bouton**/
li .user-guide{
    padding: 5px 10px;
    margin: 7px;
    border-radius: 50px;
    background-color: $gradient-main-color;
    color: $main-bg-color;
    margin-left: -30px;
}
/**raccourci du bouton "explorer nos restaurants"**/
.grosboutonrose{
    @include gbr;
    @include nav-footer;
    border: none;
    &:hover{
        filter: brightness(1.2);
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }
    /*modification de la taille du bouton*/
    padding: 16px 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.order{
    justify-content: center;
    display: flex;
    align-items: center;
}
/**chaque étape de la liste mode de fonctionnement du site**/
.square{
    @include square;
    @include desktop-only{
        width: 28%;
        width: fit-content;
        justify-content: space-between;
    }
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
/**Flèche Retour**/
.return a:visited{
    color: $main-police-color;
    text-decoration: none;
}