ul{
    @include nav-footer;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-only{
        justify-content: space-between;
    }
}
/**Test de puce sur bouton**/
li .user-guide{
    padding: 5px 10px;
    margin: 7px;
    border-radius: 50px;
    background-color: $gradient-main-color;
    color: $main-bg-color;
    margin-left: -30px;
}
/**raccourci du bouton "explorer nos restaurants"**/
.grosboutonrose{
    @include gbr;
    &:hover{
        filter: brightness(1.2);
    }
}
.order{
    justify-content: center;
    display: flex;
    align-items: center;
}
/**raccourci de la liste mode de fonctionnement du site**/
.square{
    @include square;
    @include desktop-only{
        width: 28%;
    }
}
/**Flèche Retour**/
.return a:visited{
    color: $main-police-color;
    text-decoration: none;
}