/*Liste de restaurants de la page d'accueil*/
.restaurants_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    &_title{
        @include presentation-h1;
        @include tablet-only;
    }       
}
.restaurants_list h2{
    width: 100%;
}
/*Cartes de restaurant*/
.restaurants_cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    &_content{
        display: block;
        width: 80%;
        }
    &_title{   /*Nom du restaurant*/
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 4px;
        }
    &_subtitle{   /*Adresse du restaurant*/
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        margin-top: 4px;
        }
    &_mini{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &_img{
            width: 100%;
            display: flex;
            justify-content: right;
            }
        }
    }
    /*Etiquette "nouveau"*/
.new{
    background-color: $miscellanius-bg-color;
    color: $miscellanius-police-color;
    position: absolute;
    }
.restaurants_cards_mini img{
    display: flex;
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
    }
.vote-for{
    display: flex;
    align-self: center;
    color: $main-police-color;
    font-size: 22px;
    }
/*Mise en place du titre de la page et du vote (heart)*/
.restaurants_name{
    display: flex;
    justify-content: space-around;
    @include menu;
}
/*Image de présentation des PAGES restaurants*/
.restaurants{
    display: flex;
    width: 100%;
    height: auto;
    /*La petite ligne verte sous le mot "Entrées"*/
    &_menu_entree {
        @include under-light;
        @include desktop-subtitles;
    }
    &_menu_hot-dishes{
        @include under-light;
        @include desktop-subtitles;
    }
    &_menu_dessert{
        @include under-light;
        @include desktop-subtitles;
    }
    &_menu_list{
        /*Mise en forme en rectangle, façon boutons carrés*/
        @include square-two;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /*taille des "boutons"*/
        margin: 10px 15px;
        
        &_price{
            display: flex;
            align-items:end;
            justify-items: flex-end;
        }
        &_details{
            margin-left: 10px;
            /**3 petits points + disparition texte trop long => ne fonctionne pas !**/
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.restaurants_menu > h3{
    margin-left: 25px;
    
}
.restaurants_menu_list_details >h3{
    margin-left: 20px;
    @include plates-names;
    margin-top: 7px;
    margin-bottom: 7px;
}
.restaurants_menu_list_details >p{
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    @include plates-close-one;   
}
.restaurants_menu_list_price p{
    margin: 0 20px;
    padding: 0 10px;
   /* background:white;*/
}
.restaurants_menu ~h3{
    margin-left: 250px;
}


.restaurant_menu{
    @include square;
    margin-left: 10px;
    margin-right: 10px;
}
