/*Liste de restaurants de la page d'accueil*/
.restaurants_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    &_title{
        @include presentation-h1;
        @include tablet-only;
    }   
    @include tablet-only{
        margin-top: 11px;
        width: 700px;
    }    
    @include desktop-only{
        margin-top: 11px;
        width: 1000px;
    }
}
.restaurants_list h2{
    width: 100%;
    @include tablet-only{
        @include presentation-h1;
    }
    @include desktop-only{
        @include presentation-h1;
    }
}
/*Cartes de restaurant*/
.restaurants_cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    @include tablet-only{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 9px;
    }
    @include desktop-only{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 9px;
    }
    &_content{
        display: block;
        width: 80%;
        }
    &_title{   /*Nom du restaurant*/
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 4px;
        }
    &_subtitle{   /*Adresse du restaurant*/
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        margin-top: 4px;
        }
    &_mini{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @include tablet-only{
            width: 47%;
            margin-bottom: 50px;
        }
        @include desktop-only{
            width: 47%;
            margin-bottom: 50px;
        }
        &_img{
            width: 100%;
            display: flex;
            justify-content: right;
            }
        }
    }
/*****Etiquette "nouveau"*********/
.new{
    background-color: $miscellanius-bg-color;
    color: $miscellanius-police-color;
    position: absolute;
    }
.restaurants_cards_mini img{
    display: flex;
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
    }
.vote-for{
    display: flex;
    align-self: center;
    color: $main-police-color;
    font-size: 22px;
    }
/*****************************Présentation des PAGES restaurants************************************/

/**titre de la page et du vote (heart)**/
.restaurants_name{
    display: flex;
    justify-content: space-around;
    @include menu;
    padding-top: 12px;
    @include tablet-only{
        width: 75%;
        display: flex;
        justify-content: center;
    }
    @include desktop-only{
        width: 1000px;
        display: flex;
        justify-content: center;
    }
}
/**Image de présentation des PAGES restaurants**/
.restaurants{
    display: flex;
    width: 100vw;
    height: 300px;
    @include tablet-only{
        width: 100vw;
        height: 410px;
        object-fit: cover;
    }
    @include desktop-only{
        width: 1400px;
        height: 573px;
        object-fit: cover;
    }
    /*La petite ligne verte sous le mot "Entrées"*/
    &_menu_entree {
        @include under-light;
        @include desktop-subtitles;
    }
    &_menu_hot-dishes{
        @include under-light;
        @include desktop-subtitles;
    }
    &_menu_dessert{
        @include under-light;
        @include desktop-subtitles;
    }
}



.restaurant_menu{
    @include square;
    margin-left: 10px;
    margin-right: 10px;
}

