.vote-for{/**container (custom le label)**/
    display: block;
    position: relative;
    cursor: pointer;
    /*controls whether the user can select text*/
    user-select: none;
}
/**container innput (cacher la checkbox par defaut du navigateur**/
.vote-for input{
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.unlike{ /**créer une checkbox custom**/
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: $main-bg-color;
    opacity: 1;
    transition: opacity 1000ms;
}
/*When the checkbox is checked, make disappear the empty heart and appear the filled one*/
.vote-for input:checked~.unlike{
    opacity: 0; 
    transition: opacity 1s;
}
/* Defines the color of the heart*/
.like{
    color: $gradient-main-color;
}



/*Commander au restaurant*/







