/*Creation d'un cube tournant en tant que loader*/

/*Le cube qui tourne*/
.cube {
	position: absolute;
	width: 200px;
    height: 200px;
    margin: 15em 6em;/*pour centrer le cube sur la page*/
	transform-style: preserve-3d;
    transition: transform 3s;
    transform: translateZ(-100px) rotateX(-220deg) rotateY(45deg);
}
.cube img{
    width: 200px;
    height: 200px;
}
.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}
/*Paramétrage du cube rotatif*/
.front {
	transform: translateZ(100px);
}
.back {
	transform: translateZ(-100px);
}
.left {
	transform: rotateY(90deg) translateZ(100px);
}
.right {
	transform: rotateY(-90deg) translateZ(100px);
}
.top {
	transform: rotateX(90deg) translateZ(100px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
.dice{
	perspective: 800px;
	opacity: 1;
    animation: play-dice 3s ease-in;
	animation: stop-play 500ms 2500ms;
	animation-fill-mode: forwards;
}
.homepage{
	opacity: 0;
	animation:play 500ms 2500ms ease-in;
	animation-fill-mode: forwards;
}
/*Animation du cube*/
@keyframes play-dice{
    0%{transform: translateZ(-100px)rotateX(0deg)rotateY(0deg)}
    100%{transform: translateZ(-100px)rotateX(360deg)rotateY(360deg)}
}
/*Fin de l'animation du cube*/
@keyframes stop-play{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/*Apparition du reste du site*/
@keyframes play{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

