/* Zone de saisie pour la localisation */
.location-input{
    @include nav-footer;
    color: $main-police-color;
    border: none;
    background-color:transparent;   
    text-align: center;
    width: 80%;
    }
/* Bloc définissant la zone de saisie de la localisation */ 
.location{
    background-color: $second-bg-color;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    @include shadow;
    @include tablet-only{
        box-shadow: none;
    }
    @include desktop-only{
        box-shadow: none;
    }
    }

.location-form{
    display: flex;
    width: 136%;
    justify-content: center;
    }
.location-form .label{
    display: flex;
    justify-content: center;
}
    