body{ 
    margin: 0px;  
    background-color: $main-bg-color;
    }
/* Bloc qui permet l'affichage avec une largeur max sur grand écran */
.main-container{
    width: 100vw;
    @media (min-width: 1400px) {
        width: 1400px;
    }
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
    }
    /** Bordure personnalisée **/
main{
    display: flex;
    flex-direction: column;
    }
.order{
    margin-bottom: 25px;
    align-self: center;
}
