* {
    font-family: 'Roboto';
}
.presentation{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 40px;
    @include tablet-only{
        margin-bottom: 3px
    }
    @include desktop-only{
        margin-bottom: 3px
    }
    h1{
        @include presentation-h1;
        margin: 20px;
        @include tablet-only{
            @include presentation-h1-desktop;
            margin-bottom: 30px;
            font-size:31px;
            }
        @include desktop-only{
            @include presentation-h1-desktop;
            margin-bottom: 30px
            }
        }
    p{
        @include presentation-p;
        }  
        .btn{ 
            @include nav-footer;
        }
    a{
        text-decoration-line:none;
        margin: 12px;
    }
}

/** Présentation du fonctionnement du concept**/
.sorting{
    margin-top: 50px;
    padding: 15px;
    @include tablet-only{
        margin-top: 5px;
        padding-left: 180px;
        padding-right: 180px;
        margin-bottom: 19px;
    }
    @include desktop-only{
        margin-top: 5px;
        padding-left: 180px;
        padding-right: 180px;
        margin-bottom: 19px;
    }
    .sorting li{
        background-color: $main-bg-color;
        border-color: $second-bg-color;
        color: $main-police-color;        
    }
    .sorting_title{
        @include presentation-h1;
    }
}
/** Définission des couleurs de la présentation du fonctionnement **/
.sorting_box{
    @include tablet-only{
        display: flex;
        justify-content: space-between;
    }
    @include desktop-only{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
.sorting_box i{
    color: $main-police-color;
    margin-right: 25px;
    padding: 10px;
}
/**Colorer la dernière icone en violet**/
.sorting_box .fa-store{
    color: $gradient-main-color;
}

/**Police de l'étiquette "Nouveau" de la fiche restaurant sur la page d'accueil**/
.new{
    @include nav-footer;
    margin: 10px;
    padding: 5px 10px;
}
/**Couleur du coeur en violet**/
.fa-regular{
    color: #9356DC;
}

/*Police de caractère du nom du restaurant*/
.restaurants_name h1{
    margin-left: -10px;
    @include restaurant-police-title;
}
