@charset "UTF-8";
/******************Regroupement des polices répétitives mobile-first sous forme de mixin********************/
/* Titre de la société*/
/*************** Regroupement des polices répétitives desktop sous forme de mixin********************/
/* Titre de la société*/
/*Les titres desktop*/
/*Les sous-titres desktop*/
/*Police de présentation concept + partie du footer*/
/*Mixin pour regrouper toutes les caractéristiques du gros bouton rose !*/
/**Raccourci du bouton "explorer nos restaurants (gros bouton rose)"**/
/**raccourci de la liste mode de fonctionnement du site**/
/*************Tentative de mixin pour media queries à revoir*****************/
body {
  margin: 0px;
  background-color: #ffffff;
}

/* Bloc qui permet l'affichage avec une largeur max sur grand écran */
.main-container {
  width: 100vw;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
}
@media (min-width: 1400px) {
  .main-container {
    width: 1400px;
  }
}

/** Bordure personnalisée **/
main {
  display: flex;
  flex-direction: column;
}

.order {
  margin-bottom: 25px;
  align-self: center;
}

/* Normalizer maison */
* {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

* {
  font-family: "Roboto";
}

.presentation {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.presentation h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 20px;
}
.presentation p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.presentation .btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.presentation a {
  text-decoration-line: none;
}

/** Présentation du fonctionnement du concept**/
.sorting {
  margin-top: 7rem;
  padding: 15px;
}
.sorting .sorting li {
  background-color: #ffffff;
  border-color: #EAEAEA;
  color: #353535;
}
.sorting .sorting_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

/** Définission des couleurs de la présentation du fonctionnement **/
.sorting_box i {
  color: #353535;
  margin-right: 25px;
  padding: 10px;
}

/**Colorer la dernière icone en violet**/
.sorting_box .fa-store {
  color: #9356DC;
}

/**Police de l'étiquette "Nouveau" de la fiche restaurant sur la page d'accueil**/
.new {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
  padding: 5px 10px;
}

/**Couleur du coeur en violet**/
.fa-regular {
  color: #9356DC;
}

/*Police de caractère du nom du restaurant*/
.restaurants_name h1 {
  margin-left: -10px;
  font-family: "shrikhand";
  font-style: regular;
  font-weight: 400;
  font-size: 28px;
}

ul {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 765px) {
  ul {
    flex-direction: row;
  }
}

/**Test de puce sur bouton**/
li .user-guide {
  padding: 5px 10px;
  margin: 7px;
  border-radius: 50px;
  background-color: #9356DC;
  color: #ffffff;
  margin-left: -30px;
}

/**raccourci du bouton "explorer nos restaurants"**/
.grosboutonrose {
  padding: 15px 18px;
  width: fit-content;
  display: inline-block;
  background: linear-gradient(0deg, #9356DC -25%, #FF79DA 125%);
  color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.grosboutonrose:hover {
  filter: brightness(1.2);
}

.order {
  justify-content: center;
  display: flex;
  align-items: center;
}

/**raccourci de la liste mode de fonctionnement du site**/
.square {
  padding: 15px 18px;
  width: fit-content;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 15px 0px;
  border: none;
  padding: 24px 18px;
}

/**Flèche Retour**/
.return a:visited {
  color: #353535;
  text-decoration: none;
}

/*Liste de restaurants de la page d'accueil*/
.restaurants_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.restaurants_list_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.restaurants_list h2 {
  width: 100%;
}

/*Cartes de restaurant*/
.restaurants_cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.restaurants_cards_content {
  display: block;
  width: 80%;
}
.restaurants_cards_title { /*Nom du restaurant*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}
.restaurants_cards_subtitle { /*Adresse du restaurant*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4px;
}
.restaurants_cards_mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants_cards_mini_img {
  width: 100%;
  display: flex;
  justify-content: right;
}

/*Etiquette "nouveau"*/
.new {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
}

.restaurants_cards_mini img {
  display: flex;
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0px 0px;
}

.vote-for {
  display: flex;
  align-self: center;
  color: #353535;
  font-size: 22px;
}

/*Mise en place du titre de la page et du vote (heart)*/
.restaurants_name {
  display: flex;
  justify-content: space-around;
  display: flex;
  background-color: #ffffff;
  border-radius: 40px;
  margin-top: -45px;
}

/*Image de présentation des PAGES restaurants*/
.restaurants {
  display: flex;
  width: 100%;
  height: auto;
  /*La petite ligne verte sous le mot "Entrées"*/
}
.restaurants_menu_entree {
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  width: 2.5em;
  font-family: "roboto";
  font-style: light;
  font-weight: 300;
  font-size: 18px;
}
.restaurants_menu_hot-dishes {
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  width: 2.5em;
  font-family: "roboto";
  font-style: light;
  font-weight: 300;
  font-size: 18px;
}
.restaurants_menu_dessert {
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  width: 2.5em;
  font-family: "roboto";
  font-style: light;
  font-weight: 300;
  font-size: 18px;
}
.restaurants_menu_list {
  /*Mise en forme en rectangle, façon boutons carrés*/
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*taille des "boutons"*/
  margin: 10px 15px;
}
.restaurants_menu_list_price {
  display: flex;
  align-items: end;
  justify-items: flex-end;
}
.restaurants_menu_list_details {
  margin-left: 10px;
  /**3 petits points + disparition texte trop long => ne fonctionne pas !**/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurants_menu > h3 {
  margin-left: 25px;
}

.restaurants_menu_list_details > h3 {
  margin-left: 20px;
  font-family: "roboto";
  font-style: medium;
  font-weight: 500;
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.restaurants_menu_list_details > p {
  margin-left: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: "roboto";
  font-style: light;
  font-weight: 300;
  font-size: 15px;
}

.restaurants_menu_list_price p {
  margin: 0 20px;
  padding: 0 10px;
  /* background:white;*/
}

.restaurants_menu ~ h3 {
  margin-left: 250px;
}

.restaurant_menu {
  padding: 15px 18px;
  width: fit-content;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 15px 0px;
  border: none;
  padding: 24px 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.vote-for { /**container (custom le label)**/
  display: block;
  position: relative;
  cursor: pointer;
  /*controls whether the user can select text*/
  user-select: none;
}

/**container innput (cacher la checkbox par defaut du navigateur**/
.vote-for input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.unlike { /**créer une checkbox custom**/
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 1000ms;
}

/*When the checkbox is checked, make disappear the empty heart and appear the filled one*/
.vote-for input:checked ~ .unlike {
  opacity: 0;
  transition: opacity 1s;
}

/* Defines the color of the heart*/
.like {
  color: #9356DC;
}

/*Commander au restaurant*/
/*Creation d'un cube tournant en tant que loader*/
/*Le cube qui tourne*/
.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 15em 6em; /*pour centrer le cube sur la page*/
  transform-style: preserve-3d;
  transition: transform 3s;
  transform: translateZ(-100px) rotateX(-220deg) rotateY(45deg);
}

.cube img {
  width: 200px;
  height: 200px;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
}

/*Paramétrage du cube rotatif*/
.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px);
}

.left {
  transform: rotateY(90deg) translateZ(100px);
}

.right {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

/*Il tourne, il tourne...puis il s'arrête*/
.dice {
  perspective: 800px;
  opacity: 1;
  animation: play-dice 3s ease-in;
  animation: stop-play 500ms 2500ms;
  animation-fill-mode: forwards;
}

/*le main-conteneur : apparition progressive après le cube*/
.homepage {
  opacity: 0;
  animation: play 500ms 2500ms ease-in;
  animation-fill-mode: forwards;
}

/*Animation du cube*/
@keyframes play-dice {
  0% {
    transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
  }
}
/*Fin de l'animation du cube*/
@keyframes stop-play {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*Apparition du reste du site*/
@keyframes play {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Zone de saisie pour la localisation */
input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  border: none;
  background-color: transparent;
  text-align: center;
  width: 80%;
}

/* Bloc définissant la zone de saisie de la localisation */
.localisation {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px -4px 2px 0px #d8d8d8;
}

div.localisation {
  border-top: solid linear-gradient(0deg, #9356DC -25%, #FF79DA 125%);
}

.form {
  display: flex;
  width: 36%;
  justify-content: center;
}

/*Tentative d'effet slide fondu enchainé*/
/*Apparition au chargement des catégories du menu, dans l'ordre*/
@keyframes opacity-entree {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Apparition au chargement du fond coloré derrière les catégories*/
@keyframes bcg {
  0% {
    background-color: #FF79DA;
  }
  33% {
    background-color: #9356DC;
  }
  66% {
    background-color: #008766;
  }
  100% {
    background-color: #99E2D0;
  }
}
/*Animation : apparition des plats avec un fond de carte coloré*/
.entrees {
  animation: opacity-entree 2000ms ease-in-out, bcg 2000ms ease-in-out;
}

.hot-dishes {
  animation: opacity-entree 2000ms 1300ms backwards, bcg 2000ms 1300ms ease-in;
}

.desserts {
  animation: opacity-entree 2000ms 2600ms backwards, bcg 2000ms 2600ms ease-in;
}

/*Couleur de la coche sur le menu pour commander*/
.halo i {
  background-color: #99E2D0;
  padding: 5px;
  border-radius: 50%;
  color: #99E2D0;
  background-color: #ffffff;
}

.halo {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  padding: 19px 19px;
  height: auto;
  display: inline-block;
}

/*tentative de sliders sur l'icone de commande*/
/*****************************************************************/
/* The switch - the box around the slider */
.switch { /*le fond du bouton qui disparait quand le slider est fermé*/
  position: relative;
  display: inline-block;
  width: 120px;
  height: 61px;
  overflow: hidden;
  border-radius: 0px 20px 20px 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider = ce qu'il se passe lorsque l'on clique sur le bouton*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: main-bg-color;
  border-radius: 0 20px 20px 0;
  align-items: center;
  padding: 19px 19px;
  margin-left: 40px;
  transition: 0.5s ease-in-out;
}
.slider:before { /*switch on/off qui bouge sur l'interface*/
  position: absolute;
  content: "";
  height: 60px;
  width: 100px;
  left: 0px;
  bottom: 0px;
  transition: 0.5s ease-in-out;
}

.slider i {
  padding: 2px;
  border-radius: 50%;
  color: #99E2D0;
  background: #ffffff;
  z-index: 2;
}

input:checked + .slider {
  margin-left: -50px;
}

input:checked + .slider::before {
  /*-webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);*/
  transform: translateX(100px);
  background-color: #99E2D0;
  transition: translateX 0.5s 0.5s ease-in-out;
}

/* Rounded sliders */
.slider.round {
  border-radius: 0px 20px 20px 0px;
}

.slider.round:before {
  border-radius: 0px 20px 20px 0px;
}

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;
}

/* Logo de la société */
.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  width: 95%;
  justify-content: center;
  display: flex;
}

.return {
  width: 8%;
}

footer {
  width: 100%;
  height: auto;
  color: #ffffff;
  background-color: #353535;
  padding: 14px;
}

.logo-footer {
  font-family: "shrikhand";
  font-style: regular;
  font-weight: 400;
  font-size: 18px;
}

.nav_footer .partner {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.nav_footer i {
  margin: 6px 10px 6px 6px;
}

.ul_footer {
  list-style-type: none;
  align-items: flex-start;
}

.ul_footer a {
  text-decoration: none;
}

.ul_footer a:visited {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
