@charset "UTF-8";
/*Map breakpoints*/
/******************Regroupement des polices répétitives mobile-first sous forme de mixin********************/
/* Titre de la société*/
/*************** Regroupement des polices répétitives desktop sous forme de mixin********************/
/* Titre de la société*/
/* Présentation desktop*/
/*Les titres desktop*/
/*Les sous-titres desktop*/
/*Police de présentation concept + partie du footer*/
/*Mixin pour regrouper toutes les caractéristiques du gros bouton rose !*/
/*Bouton de base*/
/*bouton modifié*/
/*Bouton coloré*/
/*Bouton arrondi*/
/*Bouton carré*/
/*Bouton ombré*/
/*Bouton modif 2*/
/**Raccourci du bouton "explorer nos restaurants (gros bouton rose)"**/
/**raccourcis de la liste mode de fonctionnement du site**/
/*Raccourcis des "boutons" de la liste de plats "restaurant.html"*/
/*mixin qui paramètre le titre d'une page "restaurant.html" */
/*************mixin pour media queries*****************/
body {
  margin: 0px;
  background-color: #ffffff;
}

.main-container {
  width: 100vw;
  /*affichage avec une largeur max sur grand écran */
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
}
@media (min-width: 1400px) {
  .main-container {
    width: 1400px;
  }
}

/** Bordure personnalisée **/
main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  main {
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  main {
    align-items: center;
  }
}

.order {
  margin-bottom: 25px;
  align-self: center;
}

/* Normalizer maison */
* {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

* {
  font-family: "Roboto";
}

.presentation {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .presentation {
    margin-bottom: 3px;
    width: 700px;
  }
}
@media screen and (min-width: 1400px) {
  .presentation {
    margin-bottom: 3px;
    padding-left: 180px;
    padding-right: 180px;
  }
}
.presentation h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .presentation h1 {
    font-family: "roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 31px;
  }
}
@media screen and (min-width: 1400px) {
  .presentation h1 {
    font-family: "roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.presentation p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.presentation .btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.presentation a {
  text-decoration-line: none;
  margin: 12px;
}

/** Présentation du fonctionnement du concept**/
.sorting {
  margin-top: 50px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .sorting {
    margin-top: 5px;
    width: 700px;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1400px) {
  .sorting {
    margin-top: 5px;
    width: 1000px;
    margin-bottom: 19px;
  }
}
.sorting .sorting li {
  background-color: #ffffff;
  border-color: #EAEAEA;
  color: #353535;
}
.sorting .sorting_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

/** Définission des couleurs de la présentation du fonctionnement **/
@media screen and (min-width: 768px) {
  .sorting_box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .sorting_box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.sorting_box i {
  color: #353535;
  margin-right: 25px;
  padding: 10px;
}

/**Colorer la dernière icone en violet**/
.sorting_box .fa-store {
  color: #9356DC;
}

/**Police de l'étiquette "Nouveau" de la fiche restaurant sur la page d'accueil**/
.new {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
  padding: 5px 10px;
}

/**Couleur du coeur en violet**/
.fa-regular {
  color: #9356DC;
}

/*Police de caractère du nom du restaurant*/
.restaurants_name h1 {
  margin-left: -15px;
  font-family: "shrikhand", cursive;
  font-style: unset;
  font-weight: 400;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .restaurants_name h1 {
    display: flex;
    justify-content: center;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants_name h1 {
    display: flex;
    justify-content: center;
    margin-right: 25px;
  }
}

ul {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  ul {
    justify-content: space-between;
    flex-direction: row;
  }
}

/**Test de puce sur bouton**/
li .user-guide {
  padding: 5px 10px;
  margin: 7px;
  border-radius: 50px;
  background-color: #9356DC;
  color: #ffffff;
  margin-left: -30px;
}

/**raccourci du bouton "explorer nos restaurants"**/
.grosboutonrose {
  padding: 18px;
  width: fit-content;
  display: inline-block;
  background: linear-gradient(0deg, #9356DC -25%, #FF79DA 125%);
  color: #ffffff;
  border-radius: 40px;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: none;
  /*modification de la taille du bouton*/
  padding: 16px 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grosboutonrose:hover {
  filter: brightness(1.2);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.order {
  justify-content: center;
  display: flex;
  align-items: center;
}

/**chaque étape de la liste mode de fonctionnement du site**/
.square {
  padding: 18px;
  width: fit-content;
  display: inline-block;
  border-radius: 20px;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 15px 0px;
  border: none;
  padding: 24px 18px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .square {
    width: 28%;
    width: fit-content;
    justify-content: space-between;
  }
}

/**Flèche Retour**/
.return a:visited {
  color: #353535;
  text-decoration: none;
}

/*Liste de restaurants de la page d'accueil*/
.restaurants_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.restaurants_list_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .restaurants_list {
    margin-top: 11px;
    width: 700px;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants_list {
    margin-top: 11px;
    width: 1000px;
  }
}

.restaurants_list h2 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurants_list h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants_list h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
}

/*Cartes de restaurant*/
.restaurants_cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .restaurants_cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 9px;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants_cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 9px;
  }
}
.restaurants_cards_content {
  display: block;
  width: 80%;
}
.restaurants_cards_title { /*Nom du restaurant*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}
.restaurants_cards_subtitle { /*Adresse du restaurant*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4px;
}
.restaurants_cards_mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .restaurants_cards_mini {
    width: 47%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants_cards_mini {
    width: 47%;
    margin-bottom: 50px;
  }
}
.restaurants_cards_mini_img {
  width: 100%;
  display: flex;
  justify-content: right;
}

/*****Etiquette "nouveau"*********/
.new {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
}

.restaurants_cards_mini img {
  display: flex;
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0px 0px;
}

.vote-for {
  display: flex;
  align-self: center;
  color: #353535;
  font-size: 22px;
}

/*****************************Présentation des PAGES restaurants************************************/
/**titre de la page et du vote (heart)**/
.restaurants_name {
  display: flex;
  justify-content: space-around;
  display: flex;
  background-color: #ffffff;
  border-radius: 40px;
  margin-top: -45px;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .restaurants_name {
    width: 75%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants_name {
    width: 1000px;
    display: flex;
    justify-content: center;
  }
}

/**Image de présentation des PAGES restaurants**/
.restaurants {
  display: flex;
  width: 100vw;
  height: 300px;
  /*La petite ligne verte sous le mot "Entrées"*/
}
@media screen and (min-width: 768px) {
  .restaurants {
    width: 100vw;
    height: 410px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants {
    width: 1400px;
    height: 573px;
    object-fit: cover;
  }
}
.restaurants_menu_entree {
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  width: 2.5em;
  font-family: "roboto", sans-serif;
  font-style: unset;
  font-weight: 300;
  font-size: 18px;
}
.restaurants_menu_hot-dishes {
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  width: 2.5em;
  font-family: "roboto", sans-serif;
  font-style: unset;
  font-weight: 300;
  font-size: 18px;
}
.restaurants_menu_dessert {
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  width: 2.5em;
  font-family: "roboto", sans-serif;
  font-style: unset;
  font-weight: 300;
  font-size: 18px;
}

.restaurant_menu {
  padding: 18px;
  width: fit-content;
  display: inline-block;
  border-radius: 20px;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 15px 0px;
  border: none;
  padding: 24px 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.vote-for { /**container (custom le label)**/
  display: block;
  position: relative;
  cursor: pointer;
  /*controls whether the user can select text*/
  user-select: none;
}

/**container innput (cacher la checkbox par defaut du navigateur**/
.vote-for input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.unlike { /**créer une checkbox custom**/
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 1000ms;
}

/*When the checkbox is checked, make disappear the empty heart and appear the filled one*/
.vote-for input:checked ~ .unlike {
  opacity: 0;
  transition: opacity 1s;
}

/* Defines the color of the heart*/
.like {
  color: #9356DC;
}

/*Creation d'un cube tournant en tant que loader*/
/*Le cube qui tourne*/
.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 15em 6em; /*pour centrer le cube sur la page*/
  transform-style: preserve-3d;
  transition: transform 3s;
  transform: translateZ(-100px) rotateX(-220deg) rotateY(45deg);
}

.cube img {
  width: 200px;
  height: 200px;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
}

/*Paramétrage du cube rotatif*/
.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px);
}

.left {
  transform: rotateY(90deg) translateZ(100px);
}

.right {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

/*Il tourne, il tourne...puis il s'arrête*/
.dice {
  perspective: 800px;
  opacity: 1;
  animation: play-dice 3s ease-in;
  animation: stop-play 500ms 2500ms;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .dice {
    display: flex;
    justify-content: center;
  }
}

/*le main-conteneur : apparition progressive après le cube*/
.homepage {
  opacity: 0;
  animation: play 500ms 2500ms ease-in;
  animation-fill-mode: forwards;
}

/*Animation du cube*/
@keyframes play-dice {
  0% {
    transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
  }
}
/*Fin de l'animation du cube*/
@keyframes stop-play {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*Apparition du reste du site*/
@keyframes play {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Zone de saisie pour la localisation */
.location-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  border: none;
  background-color: transparent;
  text-align: center;
  width: 80%;
}

/* Bloc définissant la zone de saisie de la localisation */
.location {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px -4px 2px 0px #d8d8d8;
}
@media screen and (min-width: 768px) {
  .location {
    box-shadow: none;
  }
}
@media screen and (min-width: 1400px) {
  .location {
    box-shadow: none;
  }
}

.location-form {
  display: flex;
  width: 136%;
  justify-content: center;
}

.location-form .label {
  display: flex;
  justify-content: center;
}

/*Tentative d'effet slide fondu enchainé*/
/*Apparition au chargement des catégories du menu, dans l'ordre*/
@keyframes opacity-entree {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Animation : apparition des plats avec un fond de carte coloré*/
.entrees {
  animation: opacity-entree 2000ms ease-in-out;
}

.hot-dishes {
  animation: opacity-entree 2000ms 1300ms backwards;
}

.desserts {
  animation: opacity-entree 2000ms 2600ms backwards;
}

/**Formulaire de commande**/
.dish {
  /*Mise en forme en rectangle, façon boutons carrés*/
  display: flex;
  border-radius: 20px;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*align-items:last baseline;*/
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 10px 15px;
}
.dish_title {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .dish_title {
    width: 200%;
  }
}
@media screen and (min-width: 1400px) {
  .dish_title {
    width: 200%;
  }
}
.dish_price {
  display: flex;
  align-items: flex-end;
  width: 10%;
  margin-right: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .dish_price {
    width: auto;
  }
}
@media screen and (min-width: 1400px) {
  .dish_price {
    width: auto;
  }
}
.dish_select {
  width: 0px;
  height: 0px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dish input[type=checkbox] {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0;
  /*Permet que le texte ne soit pas décallé au clic*/
  position: absolute;
}

/*Icone "check"*/
.dish_select .fa-check {
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "roboto", medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.subtitle {
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "roboto", sans-serif;
  font-style: unset;
  font-weight: 300;
  font-size: 15px;
}

/*Quand la case est cochée, la colonne du titre rétrécit*/
.dish input[type=checkbox]:checked ~ .dish_title {
  width: 58%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
@media screen and (min-width: 768px) {
  .dish input[type=checkbox]:checked ~ .dish_title {
    width: 200%;
  }
}
@media screen and (min-width: 1400px) {
  .dish input[type=checkbox]:checked ~ .dish_title {
    width: 200%;
  }
}

.dish input[type=checkbox]:checked ~ .dish_select {
  width: 20%;
  height: auto;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .dish input[type=checkbox]:checked ~ .dish_select {
    width: 30%;
  }
}
@media screen and (min-width: 1400px) {
  .dish input[type=checkbox]:checked ~ .dish_select {
    width: 15%;
  }
}

/*Alignement des rubriques "entrées", "plats chaud" et "dessert"*/
.restaurants_menu_entree,
.restaurants_menu_hot-dishes,
.restaurants_menu_dessert {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .commande {
    width: 75%;
  }
}
@media screen and (min-width: 1400px) {
  .commande {
    width: 70%;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;
}

/* Logo de la société */
.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  width: 95%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .logo {
    font-family: "shrikhand";
    font-style: unset;
    font-size: 35px;
    padding: 30px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .logo {
    font-family: "shrikhand";
    font-style: unset;
    font-size: 35px;
    padding: 30px 0;
    width: 100%;
  }
}

.return {
  width: 8%;
  margin-left: 15px;
}

footer {
  height: auto;
  color: #ffffff;
  background-color: #353535;
  padding: 22px 25px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 16px;
    padding: 30px 0;
  }
}
@media screen and (min-width: 1400px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 16px;
    padding: 30px 0;
  }
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-style: unset;
  font-weight: 400;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    padding: 25px 15px;
  }
}
@media screen and (min-width: 1400px) {
  .logo-footer {
    padding: 30px 25px;
  }
}

.nav_footer {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .nav_footer {
    padding: 30px 0px;
  }
}
@media screen and (min-width: 1400px) {
  .nav_footer {
    padding: 30px 25px;
  }
}

.nav_footer .partner {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.nav_footer i {
  margin: 6px 10px 6px 6px;
}

.ul_footer {
  list-style-type: none;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .ul_footer {
    align-items: end;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .ul_footer {
    align-items: end;
  }
}

.ul_footer .partner {
  width: auto;
  padding: 0 5px;
}

.ul_footer .contact {
  width: auto;
  height: 20px;
  padding: 2px 10px;
}

.ul_footer a {
  text-decoration: none;
  color: #ffffff;
}

.ul_footer a:visited {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
