/******************Regroupement des polices répétitives mobile-first sous forme de mixin********************/

/* Titre de la société*/
@mixin logo-header{
    font-family: 'shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}
@mixin presentation-h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
@mixin presentation-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}
@mixin nav-footer{
    font-family: 'Roboto';
    font-style: normal;            
    font-weight: 500;
    font-size: 16px;
}
@mixin contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
@mixin logo-footer{
    font-family:'Shrikhand',cursive;
    font-style: unset;
    font-weight: 400;
    font-size: 18px;
}
@mixin under-light{
    border-bottom-style: solid;
    border-bottom-color:$miscellanius-bg-color;
    width:2.5em; 
}



/*************** Regroupement des polices répétitives desktop sous forme de mixin********************/

/* Titre de la société*/
@mixin logo-desktop{
    font-family: 'shrikhand';
    font-style: unset; 
    font-size: 35px;
    padding: 30px 0;
}
/* Présentation desktop*/
@mixin presentation-h1-desktop{
    font-family: 'roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
/*Les titres desktop*/
@mixin desktop-titles{
    font-family: 'roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
}
/*Les sous-titres desktop*/
@mixin desktop-subtitles{
    font-family: 'roboto',sans-serif;
    font-style: unset;
    font-weight: 300;
    font-size: 18px;
}
/*Police de présentation concept + partie du footer*/
@mixin desktop-btn{
    font-family: 'roboto',medium;
    font-style: unset;
    font-weight: 500;
    font-size: 16px;
}
@mixin shadow{
    box-shadow: 0px -4px 2px 0px darken($second-bg-color, 7%)
}
/*Mixin pour regrouper toutes les caractéristiques du gros bouton rose !*/

/*Bouton de base*/
@mixin btn{
    padding: 18px;
    width: fit-content;
    display: inline-block;
}
/*bouton modifié*/
@mixin btn--modif{
    display: flex;
}
/*Bouton coloré*/
@mixin btn_color{
    background: $gradient;
    color: $main-bg-color;
}
/*Bouton arrondi*/
@mixin btn-rounded{
    border-radius: 40px;
}
/*Bouton carré*/
@mixin btn_square{
    border-radius:20px;
}
/*Bouton ombré*/
@mixin btn_sshadows{
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */ 
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); 
}
/*Bouton modif 2*/
@mixin btn_modif{
    margin: 15px 0px;
    border: none;
    padding: 24px 18px;
}
/**Raccourci du bouton "explorer nos restaurants (gros bouton rose)"**/
@mixin gbr{
    @include btn;
    @include btn_color;
    @include btn_rounded;
    @include btn_sshadows;
}
/**raccourcis de la liste mode de fonctionnement du site**/
@mixin square{
    @include btn;
    @include btn_square;
    @include btn_sshadows;
    @include btn_modif;
}
/*Raccourcis des "boutons" de la liste de plats "restaurant.html"*/
@mixin square-two{
    @include btn--modif;
    @include btn_square;
    @include btn_sshadows;
}
/*mixin qui paramètre le titre d'une page "restaurant.html" */
@mixin menu{
    @include btn--modif;
    background-color: $main-bg-color;
    @include btn-rounded;
    margin-top: -45px;
}
@mixin restaurant-police-title{
    font-family: 'shrikhand',cursive;
    font-style: unset;
    font-weight: 400;
    font-size: 28px;
}
@mixin plates-names{
    font-family: 'roboto',medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
@mixin plates-close-one{
    font-family: 'roboto',sans-serif;
    font-style: unset;
    font-weight: 300;
    font-size: 15px;
}





/*************mixin pour media queries*****************/
@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints,tablet)){
        @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints,desktop)){
        @content;
    }
}

