$main-police-color:#353535;
$main-bg-color:#ffffff;
$second-bg-color:#EAEAEA;
$miscellanius-bg-color:#99E2D0;
$miscellanius-police-color:#008766;
$gradient-main-color:#9356DC;
$gradient-second-color: #FF79DA;
$gradient: linear-gradient(0deg, #9356DC -25%, #FF79DA 125%);

